@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* SELETTORE UNIVERSALE E BODY */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Didact Gothic', sans-serif;
}

/* MAIN */

/* SECTION 1 */
main {
    margin-left: 80px;
    margin-right: 80px;
}