/* FOOTER */
footer {
    background-color: #232340;
    color: #F5F5F5;
}
.footer-bottom {
    margin-top: 150px;
}
.margin-tel-iva-copyright {
    margin-left: 5px;
}
.tel-iva {
    color: #C9205B;
}
.copyright {
    margin-top: -20px;
}
a {
    text-decoration: none;
    color: #F5F5F5;
}
/* Iva (solo) per schermi piccoli */
.iva {
    margin-top: -15px;
}
.logo-footer {
    margin-top: -10px;
}
.hr-footer {
    margin-top: -100px;
}