@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* SELETTORE UNIVERSALE E BODY */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Didact Gothic', sans-serif;
}

/* MAIN */
main {
    margin-left: 80px;
    margin-right: 80px;
}

/* LINEA */
.linea {
    position: relative;
    top: 50%;
    left: -12px;
    width: 101%;
    height: 2px;
    background-color: black;
}

/* COLONNA DI DESTRA */
.jumbotron-sinistra {
    background-color: #232340;;
}

/* COLONNA DI SINISTRA */
.jumbotron-destra {
    margin-left: -10px;
}

/* DATI ALL'INTERNO DEL JUMBOTRON */
.dr-russo {
    color: #CDA434;
    font-size: 36px;
}
.descrizione {
    color: #F5F5F5;
    font-size: 24px;
}
button {
    color: #F5F5F5;
    background-color: #C9205B;
    margin-top: 100px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: #F5F5F5;
}

/* SECTION 2 */
.h2-1 {
    color: #C9205B;
    font-size: 36px; 
}
p, .ul-p {
    font-size: 18px;
}

/* SECTION 3 */

/* CAROSELLO */
.h2-2 {
    color: #CDA434;
    font-size: 36px; 
}
.carousel-container {
    background-color: #232340;
}
/* Stile per centrare i bottoni al centro delle immagini */
.image-container {
    position: relative;
    overflow: hidden;
}
.read-more-btn {
    position: absolute;
    bottom: 30px; /* Regola questa proprietà per posizionare il pulsante verticalmente rispetto all'immagine */
    left: 50%;
    transform: translateX(-50%);
    background-color: #C9205B;;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

/* CAROSELLO RECENSIONI */
#carousel2 {
    height: 600px;
    padding: 40px;
}
.singola-card-recensioni {
    width: 30%;
    padding: 40px;
    border: 1px solid gray; /* Aggiungiamo un'ombra trasparente al bordo */;
    /* border: 1px solid gray rgba(128, 128, 128, 1228, 0.3); Aggiungiamo un'ombra trasparente al bordo */;
    box-shadow: 2px 2px 3px;
    height: 600px;
    border-radius: 10px;
    margin-left: 20px;
}
.singola-card-recensioni h5, .singola-card-recensioni p {
    color: #232340;
}
.recensioni-prev-icon, .recensioni-next-icon {
    margin-top: 250px; 
}
.recensioni-next-icon {
    margin-right: 100px; 
}
.sezione-form-recensioni {
    margin-top: 3000px;
}
.bottone-recensioni {
    margin-top: 20px;
    border: 0;
    padding: 10px 30px;
}
::placeholder {
    color:#232340;
}
input[type="text"],
textarea {
    border: 1px solid #232340;
    border-radius: 5px;
    padding: 5px;
}
.freccia-recensioni-destra-small {
    margin-top: -250px;
    margin-left: -10px;
}
.freccia-recensioni-sinistra-small {
    margin-top: -250px;
    margin-right: -10px;
}
.small-recensioni {
    padding-bottom: -5000px;
}

/* TASTO DI PRENOTAZIONE CONSULENZA E MODALE */
/* Posizionamento del tasto di prenotazione consulenza */
.prenota-consulenza {
    position: relative;
    text-align: right;
    margin-top: 10px; /* Aggiungi margine superiore per spaziare dal contenuto precedente */
}
/* Stile del tasto di prenotazione consulenza */
.bottone-consulenza {
    background-color: #C9205B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.bottone-small {
    margin-top: -50px;
    text-align: center;
    margin-top: -120px;
}

/* hr {
    margin-top: -85px;
} */