/* Disabilita la sottolineatura del testo quando viene selezionato */
/* ::selection {
    background-color: black;
    color: #ffffff; Imposta il colore del testo selezionato
} */

@media (max-width: 767px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .navbar-nav {
        margin-right: 0;
    }
    /* .navbar-toggler {
        margin-right: -35px;
    } */
    .linea {
        display: none;
    }
    .big-nav {
        display: none;
    }
    .small-nav {
        display: block !important;
    }
    .big-carousel {
        display: none;
    }
    /* .small-carousel {
        display: block !important;
    } */
    .big-recensioni {
        display: none;
    }
    /* .small-recensioni {
        display: block !important;
    } */
    .big-commenti {
        display: none;
    }
    .small-commenti {
        display: block !important;
    }
    .big-footer {
        display: none;
    }
    .small-footer {
        display: block !important;
    }
    .big-prenotazione {
        display: none;
    }
    .small-prenotazione {
        display: block !important;
    }
    .big-dr-russo {
        display: none;
    }
    .small-dr-russo {
        display: block !important;
    }
    .big-section-1 {
        display: none;
    }
    .small-section-1 {
        display: block !important;
        margin-right: 0;
    }
    .big-contatti {
        display: none;
    }
    .small-contatti {
        display: block !important;
    }
    .big-trattamenti {
        display: none;
    }
    .small-trattamenti {
        display: block !important;
    }
    .big-titolo-trattamenti {
        display: none;
    }
    .small-titolo-trattamenti {
        display: block !important;
    }
    .big-titolo-esperienze-clienti {
        display: none;
    }
    /* .small-titolo-esperienze-clienti {
        display: block !important;
    } */
}

@media (max-width: 576px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .navbar-nav {
        margin-right: 0;
    }
    .linea {
        display: none;
    }
    .big-nav {
        display: none;
    }
    .small-nav {
        display: block !important;
    }
    .big-carousel {
        display: none;
    }
    /* .small-carousel {
        display: block !important; 
    } */
    .big-recensioni {
        display: none;
    }
    /* .small-recensioni {
        display: block !important;
    } */
    .big-commenti {
        display: none;
    }
    .small-commenti {
        display: block !important;
    }
    .big-footer {
        display: none;
    }
    .small-footer {
        display: block !important;
    }
    .big-prenotazione {
        display: none;
    }
    .small-prenotazione {
        display: block !important;
    }
    .big-dr-russo {
        display: none;
    }
    .small-dr-russo {
        display: block !important;
    }
    .big-section-1 {
        display: none;
    }
    .small-section-1 {
        display: block !important;
        margin-left: 1px;
    }
    .big-contatti {
        display: none;
    }
    .small-contatti {
        display: block !important;
    }
    .big-trattamenti {
        display: none;
    }
    .small-trattamenti {
        display: block !important;
    }
    .big-titolo-trattamenti {
        display: none;
    }
    .small-titolo-trattamenti {
        display: block !important;
    }
    .big-titolo-esperienze-clienti {
        display: none;
    }
    /* .small-titolo-esperienze-clienti {
        display: block !important;
    } */
}

/* Rimuove la sottolineatura degli elementi durante lo scorrimento */
/* * {
    text-decoration: none !important;
} */
