@media (max-width: 767px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .navbar-nav {
        margin-right: 0;
    }
    /* .navbar-toggler {
        margin-right: -35px;
    } */
    .linea {
        display: none;
    }
    .big-nav {
        display: none;
    }
    .small-nav {
        display: block !important;
    }
    .big-carousel {
        display: none;
    }
    .small-carousel {
        display: block !important;
    }
    .big-recensioni {
        display: none;
    }
    .small-recensioni {
        display: block !important;
    }
    .big-commenti {
        display: none;
    }
    .small-commenti {
        display: block !important;
    }
    .big-footer {
        display: none;
    }
    .small-footer {
        display: block !important;
    }
    .big-prenotazione {
        display: none;
    }
    .small-prenotazione {
        display: block !important;
    }
}

@media (max-width: 576px) {
    main {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-brand {
        margin-left: 0;
    }
    .navbar-nav {
        margin-right: 0;
    }
    .linea {
        display: none;
    }
    .big-nav {
        display: none;
    }
    .small-nav {
        display: block !important;
    }
    .big-carousel {
        display: none;
    }
    .small-carousel {
        display: block !important;
    }
    .big-recensioni {
        display: none;
    }
    .small-recensioni {
        display: block !important;
    }
    .big-commenti {
        display: none;
    }
    .small-commenti {
        display: block !important;
    }
    .big-footer {
        display: none;
    }
    .small-footer {
        display: block !important;
    }
    .big-prenotazione {
        display: none;
    }
    .small-prenotazione {
        display: block !important;
    }
}