/* NAVBAR */
nav {
    background-color: #ffff;
}
.nav-link {
    color: #232340;
}
.nav-link:hover {
    color: #CDA434;
    transition: 300ms;
}
.navbar-brand {
    margin-left: 35px;
}
.navbar-nav {
    margin-right: 35px;
}