@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* SELETTORE UNIVERSALE E BODY */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Didact Gothic', sans-serif;
}

/* MAIN */
main {
    margin-left: 80px;
    margin-right: 80px;
}

/* LINEA */
.linea {
    position: relative;
    top: 50%;
    left: -12px;
    width: 101%;
    height: 2px;
    background-color: black;
}