@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

/* SELETTORE UNIVERSALE E BODY */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Didact Gothic', sans-serif;
}

/* MAIN */
main {
    margin-left: 80px;
    margin-right: 80px;
}

/* LINEA */
.linea {
    position: relative;
    top: 50%;
    left: -12px;
    width: 101%;
    height: 2px;
    background-color: black;
}

/* TAB TRATTAMENTI JQUERY */
.ui-tabs-vertical { width: 55em; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 25em; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
/* .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; } */
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 59em; /* Larghezza del Contenitore dei Tasti */ }

#tabs {
    width: 100% !important;
}
.tabella-contenuto {
    margin-left: -300px;
}
li {
    color: #f5f5f5 !important;
    background-color: #232340 !important;
}
.immagini {
    margin-left: 57%;
    height: 67%;
}
.testo {
    margin-left: 15%;
}
/* Ho usato la 'classe' .p invece del 'paragrafo' p, perchè altrimenti andava in conflitto con alcuni 'paragrafi' del Footer */
h2, .p {
    color: #232340;
}
h3 {
    color: #C9205B;;
}
.testo p {
    font-size: 15px;
}
button {
    color: #f5f5f5;
    background-color: #C9205B;
    border: none;
}
button a, #tabs a {
    color: #f5f5f5 !important;
}
#tabs div ul {
    background-color: #232340;
    padding: 50px;
}
#tabs div ul li {
    border: 0 !important;
    border-bottom: 2px solid #f5f5f5 !important;
}
hr {
    margin-top: 37px;
}
/* #tabs div {
    display: none;
} */