    <!-- FOOTER PER DISPOSITIVI GRANDI-->
    <footer class="p-5 big-footer">
        <div class="row">
            <div class="col offset-1">
                LOGO
            </div>
            <div class="col offset-1">
                <p><a href="./home.html">Home</a></p>
                <p><a href="./trattamenti.html">Trattamenti</a></p>
                <p><a href="./contatti.html">Contatti</a></p>
            </div>
            <div class="col offset-1">
                <p>FAQ</p>
                <p>Termini e condizioni</p>
            </div>
        </div>
        
        <div class="row footer-bottom text-center">
            <div class="col">
                <!-- Colonna vuota -->
            </div>
            <div class="col margin-tel-iva-copyright">
                <p class="tel-iva">Tel: 010 7352879 &nbsp P.iva 12345678910</p>
                <p class="copyright">© 2023 Site Bangerz, all rights reserved</p>
            </div>
            <div class="col offset-1">
                <!-- Colonna vuota -->
            </div>
        </div>
    </footer>
    
    <!-- FOOTER PER DISPOSITIVI PICCOLI -->
    <footer class="p-5 small-footer d-none">
        <div class="text-center">
                <p>Logo</p>
                <p><a href="./home.html">Home</a></p>
                <p><a href="./trattamenti.html">Trattamenti</a></p>
                <p><a href="./contatti.html">Contatti</a></p>
                <p>FAQ</p>
                <p>Termini e condizioni</p>
        </div>
        
        <hr>

        <div class="text-center">
                <p class="tel-iva">Tel: 010 7352879</p>
                <p class="tel-iva iva">P.iva 12345678910</p>
                <p class="copyright mt-2">© 2023 Site Bangerz,</p>
                <p class="copyright">all rights reserved</p>
        </div>
    </footer>