    <!-- HEADER -->
    <header>
        <!-- NAVBAR PER SCHERMI GRANDI -->
        <nav class="navbar navbar-expand-lg p-4 big-nav">
            <div class="container-fluid">
                <a class="navbar-brand me-auto" href="#">
                    <img src="../img/Logo-Sito-Russo-Orizzontale.png" alt="Logo" width="25%">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                        <a class="nav-link" href="./trattamenti.html">Trattamenti</a>
                        <a class="nav-link" href="./contatti.html">Contatti</a>
                    </div>
                </div>
            </div>
        </nav>
        
        <!-- NAVBAR PER SCHERMI PICCOLI -->
        <nav class="navbar navbar-expand-lg bg-body-tertiary d-none small-nav p-4">
            <div class="container-fluid">

                    <img src="../img/Logo-Sito-Russo-Orizzontale.png" alt="" width="40%">

                <button class="navbar-toggler mt-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mt-4">
                        <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
                        <a class="nav-link" href="./trattamenti.html">Trattamenti</a>
                        <a class="nav-link" href="./contatti.html">Contatti</a>
                    </div>
                </div>
            </div>
        </nav>
        
    </header>